@model List<CatalogoApp.Domain.Models.Item>

<h1 class="section-title">Videojuegos</h1>

<a class="btn-gamer" asp-controller="Catalogo" asp-action="Agregar">
    Agregar videojuego
</a>

<div class="catalogo-grid">
    @foreach (var item in Model)
    {
        <div class="game-card">
            <span class="badge">@item.Genero</span>

            <h2>@item.Titulo</h2>

            <p><strong>Año:</strong> @item.Ano</p>
            <p><strong>Consola:</strong> @item.Consola</p>
            <p>@item.Descripcion</p>

            <a class="btn-gamer" asp-controller="Catalogo" asp-action="Detalle" asp-route-id="@item.Id">
                Ver detalle
            </a>
        </div>
    }
</div>